.player {
  display: flex;
  align-items: center;
  background-color: rgb(223, 213, 223);;
  width: 350px;
  border-top-left-radius: 56px;
  border-bottom-left-radius: 56px;
  > span {
    display: flex;
    align-items: center;
    font-size: 28px;
    margin-left: 16px;
    height: 40px;
  }
  > img {
    height: auto;
    width: 70px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player-active {
  background-color: rgb(143, 182, 205);
}