<app-player
  *ngFor="let player of game.players; let i = index"
  [ngStyle]="{ 'top.px': 100 + i * 90 }"
  [name]="player"
  [playerActive]="i == game.currentPlayer"
  class="player-position"
></app-player>

<div class="gameSpace">
  <div class="card-stack">
    <!-- Card stack-->
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let card of [0, 1, 2, 3]; let i = index"
      src="assets/img/card_cover.webp"
      alt="card cover"
    />
    <img
      (click)="pickCard()"
      class="top-card"
      style="right: 25px"
      src="assets/img/card_cover.webp"
      alt="card cover"
    />

    <!-- Stack for played cards -->
    <ng-container *ngIf="!game.pickCardAnimation">
      <img
        *ngFor="let card of game.playedCards"
        class="played-card"
        style="right: 25px"
        src="assets/img/cards/{{ card }}.png"
      />
    </ng-container>

    <!--Current card plus animation-->
    <img
      (click)="pickCard()"
      *ngIf="game.pickCardAnimation && game.currentCard"
      class="pick-card"
      style="right: 25px"
      src="assets/img/cards/{{ game.currentCard }}.png"
      alt="card cover"
    />
  </div>
</div>

<app-game-description
  [card]="game.currentCard"
  class="pin-bottom"
></app-game-description>

<button mat-fab color="accent" class="add-btn" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
